.TabFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.TabRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 200px;
  height: 60%;
}

.Tab {
  width: 225px;
  margin-top: 45%;
}

#UserTab .el-menu-item,
#UserTab .el-submenu__title,
#EventTab .el-menu-item,
#EventTab .el-submenu__title {
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  line-height: 80px;
  margin: 10px 0;
  text-align: center;
}

#UserTab .el-submenu>.el-menu>.el-menu-item,
#EventTab .el-submenu>.el-menu>.el-menu-item {
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

#UserTab .el-submenu>.el-submenu__title,
#EventTab .el-submenu>.el-submenu__title {
  height: 70px;
  line-height: 70px;
}

#UserTab .el-menu-vertical-demo>.is-active,
#UserTab .el-menu>.is-active,
#UserTab .el-menu-item:hover,
#UserTab .el-submenu__title:hover,
#EventTab .el-menu-vertical-demo>.is-active,
#EventTab .el-menu>.is-active,
#EventTab .el-menu-item:hover,
#EventTab .el-submenu__title:hover {
  background-color: rgb(255, 242, 242);
}