#UserVolunteerSignup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-right: 13%;
  background-color: white;
  margin-top: 80px;
  width: 50%;
  font-size: 15px;
}

.RegistrationContainerWrapper {
  width: 100%;
  text-align: center;
  padding: 20px;
  padding-bottom: 40px;
}

.UserVolunteerSignupLogo {
  display: block;
  margin: 0 auto 20px;
  max-width: 225px;
  height: auto;
}

.RegistrationContainer {
  max-width: 50%;
  margin: 0 auto;
  padding: 30px 75px;
  padding-top: 10px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.RegistrationContainer h2 {
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

#UserVolunteerSignup .el-button {
  background-color: #c63939;
  /*important是为了覆盖原有的Element UI 的按钮组件有默认的样式优先级*/
  color: white;
  border: none !important;
  /* 去掉按钮边框 */
}

#UserVolunteerSignup .el-button--primary {
  background-color: #c63939 !important;
}

#UserVolunteerSignup .el-button--success {
  background-color: #c63939 !important;
}

#UserVolunteerSignup .el-button:hover {
  background-color: #a62828 !important;
  /* 悬停时的深红色背景 */
}

#UserVolunteerSignup .el-form-item {
  width: 120%;
  margin-left: 0px;
}

#UserVolunteerSignup .el-input {
  margin-left: -50px;
  width: 80%;
}